@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    margin: 20%;
    transition: background 0.5s;
    font-family: inter;
}
